[user]
	name = Aaron Milam
	email = aaron@milam.io
[push]
	default = simple
[alias]
	# set current branch upstream to origin branch of the same name
	track = "!git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`"

	# prune local refs to deleted remote branches
	cleanup = "!git remote prune origin && git branch -vv | grep ': gone]' | cut -d ' ' -f 3 | xargs -n 1 git branch -D"

	c = "!git commit"
	co = checkout
	cob = "!git checkout -b"
	cm = "!git commit -m"
	cam = "!git commit -am"
	can = "!git commit --amend --no-edit"

	# copy the current branch name
	# cb = "!git branch | grep '*' | awk '{ printf $2 }' | pbcopy"
	cb = "!git branch --show-current | awk '{ printf $1 }' | pbcopy"
	copy-branch-name = cb

	d = "!git diff --color-moved"
        ds = "!git diff --color-moved --staged"
	dt = "!git difftool"
	dts = "!git difftool --staged"
	dn = "!git diff --name-status"
	dsn = "!git diff --name-status --staged"
	fo = "!git fetch origin"

        # git diff across all submodules
        dm = !zsh -ic 'git_diff_submodules'

	# git action across all submodules
	sfe = "!git submodule foreach"
	sfer = "!git submodule foreach --recursive"

	# update local branch to match origin and rebase current branch on top
	fob = "!f() { git fetch origin $1:$1 && git rebase $1; }; f"
	fetch-and-rebase = fob

	# update local branch to match origin and rebase current branch on top, stashing and restoring current changes
	fobs = "!f() { git stash && git fetch origin $1:$1 && git rebase $1 && git stash pop; }; f"
	stage-fetch-and-rebase = fobs

	# fetch refs from origin and prune local refs to deleted remote branches
	foc = "!git fetch origin && git cleanup"
	fetch-and-cleanup = foc

	# log commits in short format
	lst = "log --pretty=format:'%Cred%h%Creset -%C(bold cyan)%d%Creset %C(white)%s%Creset %C(magenta)(%cr)%Creset %C(bold blue)%an%Creset' --abbrev-commit --date=relative"
	short-log-with-tags = lst
	ls = "lst --decorate-refs-exclude=refs/tags"
	short-log = ls

	# graph commits in short format
	lstg = "log --graph --pretty=format:'%Cred%h%Creset -%C(bold cyan)%d%Creset %C(white)%s%Creset %C(magenta)(%cr)%Creset %C(bold blue)%an%Creset' --abbrev-commit --date=relative"
	lsg = "lstg --decorate-refs-exclude=refs/tags"
	short-graph-log-with-tags = lstg
	short-graph-log = lsg

	p = "!git pull"
	ps = "!f() { git stash && git pull && git stash pop; }; f"
	stash-and-pull = ps

	po = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
	push-origin = po
	pof = "po -f"
	push-origin-force = pof
	pod = 'push origin --delete'
	push-origin-and-delete-refs = pod

	m = merge
	mo = "!git merge origin/$1 #"

	r = "!git rebase"
	ra = "!git rebase --abort"
	rc = "!git rebase --continue"
	
	st = "!git status"

	ff = "!git merge --ff-only"
	fast-forward-merge = ff

	# fco: find and check out branch
        fco="!f() { git branch -a -vv --color=always --format='%(refname)' | sed "s_refs/heads/__" | sed "s_refs/remotes/__" | fzf --query="$@" --height=40% --ansi --tac --color=16 --border | awk '{print $1}' | xargs git checkout; }; f"
	find-branch-and-checkout = fco

[init]
	templatedir = ~/.git_template
	defaultBranch = main


[core]
	excludesfile = ~/.gitignore
	# excludeFile = ~/.gitignore
	pager = "less -S"
[pull]
	ff = only

[diff]
	tool = cursor
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[difftool "cursor"]
	cmd = cursor --wait --diff $LOCAL $REMOTE

[includeIf "gitdir:~/Source/parker/"]
        path = ~/Source/parker/.gitconfig

[submodule]
	ignore = all
