[user]
	name = Aaron Milam
	email = aaron@milam.io
[push]
	default = simple
[alias]
	track = "!git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`"
	cleanup = "!git remote prune origin && git branch -vv | grep ': gone]' | cut -d ' ' -f 3 | xargs -n 1 git branch -D"
	po = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
[init]
	templatedir = ~/.git_template

# TODO: Install Kaleidoscope and uncomment the below
#[mergetool "Kaleidoscope"]
#	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
#	trustexitcode = true
#[merge]
#	tool = Kaleidoscope
#[difftool "Kaleidoscope"]
#	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
# [difftool]
# 	prompt = false
# [mergetool]
# 	prompt = false
#[diff]
#	tool = Kaleidoscope
