[user]
	name = Aaron Milam
	email = aaron@milam.io
[push]
	default = simple
[alias]
	track = "!git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`"
	cleanup = "!git remote prune origin && git branch -vv | grep ': gone]' | cut -d ' ' -f 3 | xargs -n 1 git branch -D"
	c = "!git commit"
	cob = "!git checkout -b"
	cm = "!git commit -m"
	cam = "!git commit -am"
	can = "!git commit --amend --no-edit"
	cb = "!git branch | grep '*' | awk '{ print $2 }' | pbcopy"
	d = "!git diff --color-moved"
        ds = "!git diff --color-moved --staged"
	dc = "!git diff --cached"
	dt = "!git difftool"
	dtc = "!git difftool --cached"
	fo = "!git fetch origin"
	foc = "!git fetch origin && git cleanup"
	st = "!git status"
	po = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
	m = merge
	mo = "!git merge origin/$1 #"
	r = "!git rebase"
	rom = "!git fetch origin && git rebase origin/master"
	sl = "!git log --oneline --decorate -20"
	slg = "!git log --oneline --decorate --graph -20"
	lg = "!git log --oneline --decorate --graph"
	ff = "!git merge --ff-only"
        #fco="!f() { git branch -l -vv --color=always --format='%(refname)' | sed "s_refs/heads/__" | fzf --query="$@" --height=40% --ansi --tac --color=16 --border | awk '{print $1}' | xargs git co; }; f"
        fco="!f() { git branch -a -vv --color=always --format='%(refname)' | sed "s_refs/heads/__" | sed "s_refs/remotes/__" | fzf --query="$@" --height=40% --ansi --tac --color=16 --border | awk '{print $1}' | xargs git checkout; }; f"
[init]
	templatedir = ~/.git_template


[core]
	excludesfile = ~/.gitignore
	# excludeFile = ~/.gitignore
[pull]
	ff = only

[includeIf "gitdir:~/Source/ParadoxAi/"]
	path = ~/Source/ParadoxAi/.gitconfig

[includeIf "gitdir:~/Source/denim-us/"]
	path = ~/Source/denim-us/.gitconfig

